.custom-carousel {
  

    &__item {
        height: 400px;
        overflow: hidden;
    }

    
}

.carousel-item__image {
     
    object-fit: cover;
    width: 100%;
    height: 100%;
 
    
        
}