@mixin flex-container(
    $dir: row,
    $just: flex-start,
    $al: flex-start,
    $mode: desktop
) {
    @if ($mode == mobile) {
        flex-direction: column;
    } @else {
        flex-direction: $dir;
    }
    display: flex;
    justify-content: $just;
    align-items: $al;
}
